<!--
Created 8/4/2020 by Duytan Tran
HTML for displaying PS4 scraping results
-->
<h1>Pricing for: <%= @game %></h1>
<% @scrapes.each do |vendor| %>
  <p><%= vendor[2]%>: <%= vendor[0] %> <a href=<%= vendor[1] %>>link</a></p>
<% end %>
<%= form_with local: true do |f| %>
  <p>Scrape Prices (Game Name):<%= f.text_field :game %><%= f.submit 'SCRAPE'%></p>
<% end %>