<h1>Gamestop</h1>
<p><%= @gamestop[0] %></p>
<a href=<%= @gamestop[1] %>>link<a/>
<h1>Walmart</h1>
<p><%= @walmart[0] %></p>
<a href=<%= @walmart[1] %>>link<a/>
<h1>Playstation Store</h1>
<p><%= @playstation[0] %></p>
<a href=<%= @playstation[1] %>>link<a/>
<h1>Amazon</h1>
<p><%= @amazon[0] %></p>
<a href=<%= @amazon[1] %>>link<a/>